---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "article",
  "footnotes",
  "search"
;

body {
  background: red;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.3125em;
  line-height: 1.5;
}
